<ion-view view-title="Profile">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
            <span class="input-label">Name</span>
            <input type="text" placeholder="Name" ng-model="$profile.user.firstname" disabled>
     </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Surname</span>
        <input type="text" placeholder="Surname" ng-model="$profile.user.lastname" disabled>
    </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Address</span>
        <input type="text" placeholder="Address" ng-model="$profile.user.address" disabled>
    </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Date of Birth</span>
        <input type="date" placeholder="Date of Birth" ng-model="$profile.user.dateOfBirth" disabled>
    </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Phone</span>
        <input type="text" placeholder="Phone" ng-model="$profile.user.phone" disabled>
    </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="email" ng-model="$profile.user.username" disabled>
    </label>
    </div>
  </ion-content>
</ion-view>
