<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb pull-right">
          <li><a href="#">Home</a></li>
          <li class="active">New dive</li>
        </ol>
      </div>
    </div>

    <!-- Main component for a primary marketing message or call to action -->

    <div class="row">
      <div class="col-xs-12">
        <form class="form-horizontal form-profile">
          <fieldset>
            <legend class="scheduler-border">New dive:</legend>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="numDive" class="col-sm-3 control-label">N° dive</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="numDive" placeholder="N° dive...">
                  </div>
                </div>
                <div class="form-group">
                  <label for="date" class="col-sm-3 control-label">Date</label>
                  <div class="col-sm-9">
                    <input type="date" class="form-control" id="date" placeholder="Date...">
                  </div>
                </div>
                <div class="form-group">
                  <label for="visibility" class="col-sm-3 control-label">Adress</label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" id="visibility" placeholder="Visibility...">
                  </div>
                  <div class="checkbox col-sm-2">
                    <label>
                      <input type="checkbox"> m
                    </label>
                  </div>
                  <div class="checkbox col-sm-2">
                    <label>
                      <input type="checkbox"> ft
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="location" class="col-sm-3 control-label">Date of Birth</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="location" placeholder="Location...">
                  </div>
                </div>
                <div class="form-group">
                  <label for="weight" class="col-sm-3 control-label">Weight</label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" id="weight" placeholder="Weight...">
                  </div>
                  <div class="checkbox col-sm-2">
                    <label>
                      <input type="checkbox"> kg
                    </label>
                  </div>
                  <div class="checkbox col-sm-2">
                    <label>
                      <input type="checkbox"> lb
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="weight" class="col-sm-3 control-label">Temperature</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="weight" placeholder="Temperature...">
                  </div>
                  <div class="checkbox col-sm-1">
                    <label>
                      <input type="checkbox"> air
                    </label>
                  </div>
                  <div class="checkbox col-sm-2">
                    <label>
                      <input type="checkbox"> bottom
                    </label>
                  </div>
                  <div class="checkbox col-sm-1">
                    <label>
                      <input type="checkbox"> surface
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="protection" class="col-sm-3 control-label">Protection</label>
                  <div class="col-sm-9">
                    <select name="protection" class="form-control btn-block">
                      <option value="wetsuits">Wetsuits</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="conditions" class="col-sm-3 control-label">Conditions</label>
                  <div class="col-sm-9">
                    <select name="conditions" class="form-control btn-block">
                      <option value="fresh">Fresh / salt water</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="depth" class="col-sm-3 control-label">Depth</label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" id="depth" placeholder="Depth...">
                  </div>
                  <label for="time" class="col-sm-3 control-label label-right">Time</label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" id="time" placeholder="Time...">
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <div class="checkbox col-sm-4">
                    <label>
                        <input type="checkbox"> Computer
                      </label>
                  </div>
                  <div class="checkbox col-sm-4">
                    <label>
                        <input type="checkbox"> RDP
                      </label>
                  </div>
                  <div class="checkbox col-sm-4">
                    <label>
                        <input type="checkbox"> eRDPml
                      </label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="startBar" class="col-sm-3 control-label">Start bar/psi</label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" id="startBar" placeholder="Start bar...">
                  </div>
                  <label for="endBar" class="col-sm-3 control-label label-right">End bar/psi</label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" id="endBar" placeholder="End bar...">
                  </div>
                </div>
                <div class="form-group">
                  <label for="startTime" class="col-sm-3 control-label">Start time</label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" id="startTime" placeholder="Start time...">
                  </div>
                  <label for="endTime" class="col-sm-3 control-label label-right">End time</label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" id="endTime" placeholder="End time...">
                  </div>
                </div>
                <div class="form-group">
                  <label for="buddy" class="col-sm-3 control-label">Buddy</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="buddy" placeholder="Buddy...">
                  </div>
                </div>
                <div class="form-group">
                  <label for="diving" class="col-sm-3 control-label">Diving</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="diving" placeholder="Diving...">
                  </div>
                </div>
                <div class="form-group col-xs-12">
                  <label for="comment">Comment:</label>
                  <textarea class="form-control" rows="8" id="comment"></textarea>
                </div>
                <div class="form-group pull-right button-group-form">
                  <button type="submit" class="btn btn-default">Cancel</button>
                  <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Save
                  </button>
                  <button type="submit" class="btn btn-primary">
                    <i class="fa fa-edit"></i> Edit
                  </button>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>