<div class="container">

    <div class="row row-user-home">
        <div class="col-xs-12">
            <div class="media media-user-home">
                <div class="media-left">
                    <img alt="userPicture" class="media-object" src=<%= require( "./images/user_picture.jpg") %>>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <span class="pull-left">
                            Name Surname
                        </span>
                        <span class="pull-right">
                            <small>#4 <i class="fa fa-heart"></i> Dives</small>
                        </span>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive table-width-fix">
                <table class="table table-bordered table-striped table-width-fix">
                    <thead>
                        <tr>
                            <th>Num Dive <i class="fa fa-sort" aria-hidden="true"></i>
                            </th>
                            <th>Date <i class="fa fa-sort" aria-hidden="true"></i>
                            </th>
                            <th>Location <i class="fa fa-sort" aria-hidden="true"></i>
                            </th>
                            <th>Duration <i class="fa fa-sort" aria-hidden="true"></i>
                            </th>
                            <th>Depth <i class="fa fa-sort" aria-hidden="true"></i>
                            </th>
                            <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>01/01/2016</td>
                            <td>Blue Heron Bridge - Riviera Beach Florida (USA)</td>
                            <td>40 min</td>
                            <td>18 m</td>
                            <td><i class="fa fa-heart"></i></td>
                            <td><i class="fa fa-share"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>01/02/2016</td>
                            <td>Kona Mantas - Hawaii (USA)</td>
                            <td>38 min</td>
                            <td>12.5 m</td>
                            <td><i class="fa fa-heart"></i></td>
                            <td><i class="fa fa-share"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>01/03/2016</td>
                            <td>Nakwaka Rapids - British Columbia (Canada)</td>
                            <td>41 min</td>
                            <td>22.3 m</td>
                            <td><i class="fa fa-heart"></i></td>
                            <td><i class="fa fa-share"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>01/04/2016</td>
                            <td>USS Vandeberg - Florida Keys (USA)</td>
                            <td>39 min</td>
                            <td>14.8 m</td>
                            <td><i class="fa fa-heart"></i></td>
                            <td><i class="fa fa-share"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>01/05/2016</td>
                            <td>Point Labos - Carnel California (USA)</td>
                            <td>50 min</td>
                            <td>35.2 m</td>
                            <td><i class="fa fa-heart"></i></td>
                            <td><i class="fa fa-share"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>01/06/2016</td>
                            <td>Whale Sharks - Isla Mujeres (Mexico)</td>
                            <td>55 min</td>
                            <td>15.2 m</td>
                            <td><i class="fa fa-heart"></i></td>
                            <td><i class="fa fa-share"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>01/07/2016</td>
                            <td>Palancar Horseshoe - Cozumel (Mexico)</td>
                            <td>36 min</td>
                            <td>23.2 m</td>
                            <td><i class="fa fa-heart"></i></td>
                            <td><i class="fa fa-share"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>01/08/2016</td>
                            <td>Cabo Pulmo - Baja California (Mexico)</td>
                            <td>64 min</td>
                            <td>25.2 m</td>
                            <td><i class="fa fa-heart"></i></td>
                            <td><i class="fa fa-share"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>