<div class="container">

  <div class="row row-login">
    <div class="col-md-9">
      <div class="jumbotron">
        <h1>My dive logbook</h1>
        <p>A digital dive log used by an underwater diver to record the details of their dives.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>

      </div>
    </div>
    <pre>{{$home.registrationForm.$invalid }}</pre>
    <div class="col-sm-3">
      <form ng-submit="$home.doRegister()" name="$home.registrationForm">
        <div class="form-group" ng-class="{'has-error': $home.registrationForm.name.$invalid}">
          <label for="name" class="control-label">Name: *</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Name..." ng-model="$home.registration.name" required>
        </div>
        <div class="form-group">
          <label for="surname">Surname: *</label>
          <input type="text" class="form-control" id="surname" name="surname" placeholder="Surname..." ng-model="$home.registration.surname" required>
        </div>
        <div class="form-group">
          <label for="email">Email: *</label>
          <input type="email" class="form-control" id="email" name="username" placeholder="Email..." ng-model="$home.registration.username" ng-pattern="email" required ng-va>
        </div>
        <div class="form-group">
          <label for="password">Password: *</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password..." ng-model="$home.registration.password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-lg" ng-disabled="$home.registrationForm.$invalid">Create account</button>
      </form>
    </div>
  </div>
  <!-- Three columns of text below the carousel -->
  <div class="row row-thumbnail">
    <div class="col-lg-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image"
        width="140" height="140">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id
        elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image"
        width="140" height="140">
      <h2>Heading</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur
        purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image"
        width="140" height="140">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod
        semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
        risus.</p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
</div>