<ion-view view-title="Informations">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                <h1>My Dive Logbook
                    <smail> <a href="https://github.com/giuseScara/myDiveLogbook" target="_blank"><i class="icon ion-social-github" aria-hidden="true"></i></a>
                    </smail>
                </h1>
            </div>
            <div class="item">
                <h2>
                    A dive log is used by an underwater diver to record the details of their dives. The log may either be in a book, software,
                    or web based. <br>The log serves purposes both related to safety and personal records.
                    Information in a log may contain such things as date, time and location, the profile of the dive, equipment
                    used, air usage, above and below water conditions, including temperature, current, wind and waves, general
                    comments, verification of buddy and instructor.<br> Recreational divers are generally advised to keep
                    a logbook as a record, while professional divers may be legally obliged to maintain a logbook which is
                    up to date and complete in its records. <br>With these application recreational divers and professional
                    divers can be maintain and always examinate their dive log.</h2>
            </div>
            <div>
                <div class="button-bar">

                    <a type="button" class="button button-dark"  href="https://github.com/giuseScara" target="_blank"><i class="icon ion-social-github" aria-hidden="true"></i></a>
                    <a type="button" class="button button-positive"  href="https://www.linkedin.com/in/giuseppe-scaramuzzino-b1453b74/" target="_blank"><i class="icon ion-social-skype" aria-hidden="true"></i></a>
                    <a type="button" class="button button-calm"  href="https://twitter.com/GiuseScara" target="_blank"><i class="icon ion-social-twitter" aria-hidden="true"></i></a>
                    <a type="button" class="button button-assertive"  href="https://plus.google.com/+GiuseppeScaramuzzino" target="_blank"><i class="icon ion-social-googleplus" aria-hidden="true"></i></a>
                    <a type="button" class="button button-stable"  href="mailto:giuse.scara@gmail.com?Subject=MyDiveLogbook"><i class="icon ion-email" aria-hidden="true"></i></a>

                    
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>